/****************************
* User POV
*****************************/
#userView {
    background-image: url(../img/background/enemiesWalpaper.jpg);
    background-size: cover;
    background-position: center;
}

/****************************
* Plates
*****************************/
/****** Shopplate *****/
#shopplate {
    position: absolute;
    margin: 2% 37%;
    font-family: Chalkboy;
}

/***** Saleplate *****/
#saleplate{
    width: 60vw;
    height: 67vw;

    position: absolute;
    bottom: -40%;
    left: -0%;

    background-image: url(../img/plate/infoplate.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#saleplate h2, #purchaseplate h2{
    font-family: Fingerpaint;
    font-size: 2.25vw;
    position: absolute;

    transform: translate(-50%, -50%) scale(1);
    top: 12%;
    left: 50%;

    background-color: rgba(255, 255, 255, 0.563);
    padding: 1%;
    border-radius: 10px;
    text-align: center;
}

/***** Playe gold *****/
#playerGold{
    color: var(--gold);
    font-family: Itckrist;
}

/*** Sellable ***/
#sellable{
    width: 50vw;
    height: 17vw;
    position: absolute;
    top: 22%;
    right: 10%;

    display: flex;
    flex-wrap: nowrap;
    gap: 3vw;

    overflow:scroll;
    scrollbar-width: none; /* Für Firefox */
    -ms-overflow-style: none; /* Für Internet Explorer & Edge */
}

/***** Purchaseplate *****/
#purchaseplate{
    width: 40vw;
    height: 80vw;

    position: absolute;
    right: 0%;
    bottom: -70%;


    background-image: url(../img/plate/buyPlate.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*** pricetag ***/
#pricetag{
    margin: 0 auto;
    margin-top: 5%;

    
    transform: scale(0.75);
}
#pricetag p{
    color: var(--gold);
    font-size: 3.5vw;
}

/*** info ***/
#info{
    width: 50%;
    margin: 1% auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8%;

}

#info > *{
    height: 10vw;
    transform: scale(1);
    transition: all 0.15s;

    user-select: none;
    cursor: pointer;
}
#info > *:hover{
    transform: scale(1.2);
}

/*** scrol ***/
.scroll{

    left: 50%;
    top: 38%;
}

/*****************
* Loot Card
******************/
.lootCard{
    opacity: 0.8;
    transform: scale(0.9);
    transition: all 0.15s;
}
.lootCard:hover{
   opacity: 1;
   transform: scale(0.95);
}
.lootCard:active{
    transform: scale(0.9);
}
.activeLootCard{
    opacity: 1;
    transform: scale(1);
}