/****************************
* User POV
*****************************/
#userView{
    background-image: url(../img/background/entrence.png);
    background-size: cover;
    background-position: center;
}