/****************************
* User POV
*****************************/
#userView {
    background-image: url(../img/background/entrence.png);
    background-size: cover;
    background-position: center;
}

/****************************
* Plates
*****************************/
/***** Scroll *****/
#play {
    bottom: 0%;
    left: 50%;

    animation: bounce 2s infinite alternate;
}

@keyframes bounce {
    from{bottom: 0%;}
    to{bottom: 1%;}
}

/****************************
* Logo
*****************************/
#logo{
    left: 50%;
    top: 15%;
}

/****************************
* Player Select
*****************************/
#playerSelect{
    width: 100%;
    height: fit-content;
    margin: 350% 0px;

    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    align-items: center;
}
#playerSelect> * {
    position: relative;
    left: 50%;
}
@keyframes appear {
    from{margin-top: 40%; opacity: 0;}
    to{margin-top: 35%; opacity: 1;}
}