/****************************
* User POV
*****************************/
#userView {
    background-image: url(../img/mapArrows/maparrows5.png), url(../img/background/careered.jpg);
    background-position: center, center;
    background-size: cover, auto;
}

/****************************
* Plate
*****************************/
.scroll {
    left: 6%;
    top: 6%;
}

/*************************
* Cave
**************************/
.cave {
    width: 8%;
    position: absolute;

    transform: scale(1);
    opacity: 0.8;
    transition: all 0.15s;
}

.cave:hover {
    transform: scale(1.1);
    opacity: 1;
}

.cave:active {
    transform: scale(1);
}

/***** Cave + id *****/
#cave0 {
    left: 10%;
    top: 10%;
}

#cave1 {
    right: 20%;
    top: 8%;
}

#cave2 {
    right: 40%;
    top: 40%;
}

#cave3 {
    left: 10%;
    bottom: 30%;
}

#cave4 {
    bottom: 5%;
    right: 35%;
}

#cave5 {
    right: 10%;
    bottom: 35%;
    transform: scale(1.5);
}

/****************************
* gameField
*****************************/
#game-field {
    width: 100%;
    height: 100vh;

    position: absolute;
    left: 0%;
    top: 0%;
}

/***** glasBox *****/
.glass-box {
    background: rgba(0, 0, 0, 0.4);
    /* leicht dunkler Hintergrund */
    backdrop-filter: blur(10px);
    /* Hintergrund verschwommen */
    -webkit-backdrop-filter: blur(10px);
    /* für Safari */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/***** Battel Arena *****/
#battle-arena {
    background-image: url(../img/plate/areana.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 48vw;
    height: 27vw;

    position: absolute;
    transform: var(--transform-centerPosition);
    left: 50%;
    top: 60%;
}

/*===== Fighter =====*/
.name {
    font-family: Itckrist;
    font-size: 3vw;
}

.live {
    font-family: Fingerpaint;
    font-size: 2.5vw;
}

.heart {
    width: 2vw;
}

.char {
    width: 10vw;
}

.name,
.live,
.char {
    position: absolute;
    bottom: 5%;
    height: fit-content;
}

/*** Player ***/
#player .name {
    left: 20%;
    top: 30%;
    transform: var(--transform-centerPosition) rotate(-5deg);
}

#player .live {
    left: 25%;
    top: 48%;
    transform: var(--transform-centerPosition) rotate(-3deg);
}

#player .char {
    left: 25%;
    top: 75%;
    transform: var(--transform-centerPosition);
}

/*** Enemei ***/
#enemie .name {
    right: 2%;
    top: 30%;
    transform: var(--transform-centerPosition) rotate(5deg);
}

#enemie .live {
    right: 15%;
    top: 48%;
    transform: var(--transform-centerPosition) rotate(3deg);
}

#enemie .char {
    right: 5%;
    top: 75%;
    transform: var(--transform-centerPosition);
}

/*===== Action =====*/
/*** player Hand ***/
#player-hand, #player-handBlock {
    transform: var(--transform-centerPosition);
    position: absolute;
    left: 50%;
    top: 20%;

    width: 42%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3vw;
}
#player-handBlock{
    min-height: 50%;
    width: 65%;
    z-index: 2;
}

#player-hand img {
    width: 30%;
    user-select: none;
    cursor: pointer;

    transition: all 0.15s;
}
#player-hand img:hover {
    width: 35%;
}
#player-hand img:active{
    width: 25%;
}

#player-hand img:nth-child(1) {
    transform: rotate(-10deg);
}

#player-hand img:nth-child(2) {
    transform: rotate(3deg);
}

#player-hand img:nth-child(3) {
    transform: rotate(5deg);
}



/*** deck ***/
.deck {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

.deck img {
    width: 11vw;
    margin-left: -10.5vw;
}

#player-deck {
    left: 15%;
    top: 10%;
}

#enemie-deck {
    right: 15%;
    top: 10%;
    transform: scaleX(-1);
}

/*** layedDownCards ***/
#player-layedDownCards {
    left: 20%;
    bottom: 25%;
    transform: rotate(-5deg);
}

#enemie-layedDownCards {
    right: 10%;
    bottom: 25%;
    transform: rotate(5deg);
}

/*****************
* winn lose
*****************/
#winLose {
    width: 100%;
    height: 100vh;
    z-index: 3;

    position: absolute;
    top: -100%;
    left: 0%;

    background-image: url(../img/youWinImg.png);
    background-size: cover;
    background-position: center;

    backdrop-filter: blur(10px);
    /* Hintergrund verschwommen */
    -webkit-backdrop-filter: blur(10px);
}

/*** Plates ***/
#winLose .scroll{
    left: 50%;
    top:  85%;
}

#winLose .plate {
    transform: var(--transform-centerPosition) scale(0.7);
    left: 50%;
    top: 75%;
}

/* colors */
.winnedGold{
    color: var(--gold);
}
.losedGold{
    color: var(--red);
}
/***********************
 * Animation
 ***********************/
 /***** Karten Animationen ****/
 @keyframes takeACardFromTheDeck {
    from{transform: translateY(0%);}
    to{transform: translateY(-200%);}
 }
 @keyframes placeInLayedDownCard {
    from{transform: translateY(250%);}
    to{transform: translateY(0%);}
 }

/***** Char animationen *****/
@keyframes playerAttack {
    0%{transform: translateX(0%) rotate(-5deg) var(--transform-centerPosition);}
    35%{transform: translateX(75%) rotate(5deg) var(--transform-centerPosition);;}
    75%{transform: translateX(25%) rotate(0deg) var(--transform-centerPosition);;}
    100%{transform: translateX(0%) var(--transform-centerPosition);;}
}
@keyframes enemieAttack {
    0%{transform: translateX(0%) rotate(5deg) var(--transform-centerPosition);}
    35%{transform: translateX(-75%) rotate(-5deg) var(--transform-centerPosition);;}
    75%{transform: translateX(-25%) rotate(0deg) var(--transform-centerPosition);;}
    100%{transform: translateX(0%) var(--transform-centerPosition);;}
}
/****** Win Lose Animation *****/
@keyframes appearFromTop {
    from{top: -100%}
    to{top: 0%}
}