/****************************
* User POV
*****************************/
#userView {
    background-image: url(../img/background/entrence.png);
    background-size: cover;
    background-position: center;
}

/****************************
* Plates
*****************************/
/***** Scroll *****/
.scroll {
    bottom: 0%;
    left: 50%;

    animation: bounce 2s infinite alternate;
}

@keyframes bounce {
    from{bottom: 0%;}
    to{bottom: 1%;}
}

/****************************
* Logo
*****************************/
#logo{
    left: 50%;
    top: 15%;
}
