/****************************
* Fonts
*****************************/
/* Chalkboy */
@font-face {
    font-family: Chalkboy;
    src: url(font/Chalkboy.ttf);
}

/* Itckrist */
@font-face {
    font-family: Itckrist;
    src: url(font/ITCKRIST.TTF);
}

/* FingerPaint */
@font-face {
    font-family: FingerPaint;
    src: url(font/FingerPaint-Regular.ttf);
}

/****************************
* Allgemeines
*****************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/****************************
* User POV
*****************************/
#userView {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    position: relative;
    background-color: lightgray;
}

/****************************
* Logo
*****************************/
#logo{
    position: absolute;
    width: 18vw;
    
    transform: translate(-50%, -50%) scale(1);
}

/****************************
* Plates
*****************************/
/***** Scroll *****/
.scroll {
    width: 8.5vw;
    height: 7vh;

    background-image: url(img/plate/scroll.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;

    position: absolute;

    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
    transition: all 0.15s;
}
.scroll:hover{
    opacity: 1;
   transform: translate(-50%, -50%) scale(1.1);
}
.scroll:active{
    transform: translate(-50%, -50%) scale(0.9);
}

/*** Scroll elements ***/
.scroll>* {
    font-family: Itckrist;
    font-size: 1.75vw;
    text-decoration: none;
    text-align: center;
    color: black;

    margin: 0px;
    padding: 0px;

    position: relative;
    top: 10%;
    width: 100%;
}

/***** Plate *****/
.plate{
    width: 27vw;
    height: 6vw;

    background-image: url(img/plate/plate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;

    position: relative;

    transition: all 0.15s;
}

.plate >*{
    font-family: FingerPaint;
    font-size: 2.5vw;
    text-decoration: none;
    text-align: center;
    color: black;

    margin: 0px;
    padding: 0px;

    width: 100%;

    transform: scale(0.9);
}

.plate:hover{
    transform: scale(1) rotate(5deg);
}