/****************************
* Fonts
*****************************/
/* Chalkboy */
@font-face {
    font-family: Chalkboy;
    src: url(font/Chalkboy.ttf);
}
/* Itckrist */
@font-face {
    font-family: Itckrist;
    src: url(font/ITCKRIST.TTF);
}
/* FingerPaint */
@font-face {
    font-family: FingerPaint;
    src: url(font/FingerPaint-Regular.ttf);
}

/****************************
* Allgemeines
*****************************/
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/****************************
* User POV
*****************************/
#userView{
    width: 100%;
    height: 100vh;

    position: relative;
    background-color: brown;
}